.menu-panel .panel-body {
  overflow: hidden;
}

.user-menu {
  .notifications {
    li,
    span {
      background-color: #202528 !important;
      color: #fff !important;
    }
  }
}

.notifications .logout {
  &:hover {
    background-color: #202528;
  }
}
