.topic-admin-menu {
  width: 222px;

  ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
  }

  button {
    width: 200px;
    margin-bottom: 5px;

    i {
      width: 14px;
    }
  }
}
