<section class='d-dropdown top-nav-dropdown' id='about-dropdown'>
  <ul>
    <li><a href='#'>Continuous Security</a></li>
    <li><a href='#'>Contributors</a></li>
    <li><a href='#'>Supporters</a></li>
  </ul>
</section>
