<section class='d-dropdown top-nav-dropdown' id='about-dropdown'>
  <ul>
    <li><a>{{i18n 'navigation.about.continuous_security'}}</a></li>
    <li><a>{{i18n 'navigation.about.contributors'}}</a></li>
    <li><a>{{i18n 'navigation.about.supporters'}}</a></li>
  </ul>
</section>
