<section class='static-page'>
  <div class='container'>
    <div class='row'>
      <h1 class='pull-left'>
        {{i18n 'static.communities.title'}}
      </h1>
      <a class="btn btn-primary btn-head pull-right" href="request-community">{{i18n 'navigation.communities.request_community'}}</a>
    </div>
    <div class="map-wrapper">
      {{google-maps}}
    </div>
  </div>
</section>

{{render 'footer'}}
