<section class='d-dropdown top-nav-dropdown' id='communities-dropdown'>
  <ul>
    <li>
      {{#link-to 'communities.groups'}}
        {{i18n 'navigation.communities.find_local_chapters'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'communities.events'}}
        {{i18n 'navigation.communities.find_local_events'}}
      {{/link-to}}
    </li>
  </ul>
</section>
