<section class='d-dropdown top-nav-dropdown' id='discussions-dropdown'>
  <ul>
    <li>
      {{#link-to 'discovery.top'}}Top{{/link-to}}
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'process'}}Process{{/link-to}}
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'design-architecture'}}Design &amp; Architecture{{/link-to}}
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'coding'}}Coding{{/link-to}}
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'testing-qa'}}Testing &amp; QA{{/link-to}}
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'monitoring'}}Monitoring{{/link-to}}
    </li>
  </ul>
</section>
