<section class='d-dropdown top-nav-dropdown' id='discussions-dropdown'>
  <ul>
    <li><a href='/top'>Top</a></li>
    <li><a href='/c/process'>Process</a></li>
    <li><a href='/c/designandarchitecture'>Design &amp; Architecture</a></li>
    <li><a href='/c/coding'>Coding</a></li>
    <li><a href='/c/testingandqa'>Testing &amp; QA</a></li>
    <li><a href='/c/monitoring'>Monitoring</a></li>
  </ul>
</section>
