<div class="footer bg-color--black-dark">
  <div class="container">
    <p class="copyright">© SourceClear {{current-year}}</p>
    <a href="https://blog.srcclr.com">{{i18n 'footer.links.blog'}}</a>
    <a href="https://srcclr.com/pp.html">{{i18n 'footer.links.privacy_policy'}}</a>
  </div>
</div>
