<div class="footer container--full bg-color--black-dark">
  <div class="container color--white pv">
    <div class="grid grid--middle">
      <div class="grid__item col-5-6">
        <div class="grid grid--middle grid--full nav--footer">
          <div class="grid__item col-1-12">
            <i class="sci sci__src-symbol--bracket sci--xl"></i>
          </div>
          <div class="grid__item col-1-9 text--center">
            <a href="https://srcclr.com/about-us" class="btn--footer color--white inline-block col-1-1 text--center pv-" target="_blank">About Us</a>
          </div>
          <div class="grid__item col-1-9 text--center">
            <a href="https://srcclr.com/contact-us" class="btn--footer color--white inline-block col-1-1 text--center pv-" target="_blank">Contact</a>
          </div>
          <div class="grid__item col-1-9 text--center">
            <a href="https://blog.srcclr.com" class="btn--footer color--white inline-block col-1-1 text--center pv-" target="_blank">Blog</a>
          </div>
          <div class="grid__item col-1-9 text--center">
            <a href="https://open.srcclr.com" class="btn--footer color--white inline-block col-1-1 text--center pv-" target="_blank">Community</a>
          </div>
          <div class="grid__item col-1-9 text--center">
            <a href="https://srcclr.com/legal/terms" class="btn--footer color--white inline-block col-1-1 text--center pv-" target="_blank">Legal</a>
          </div>
        </div>
      </div>
      <div class="grid__item col-1-6">
        <div class="grid grid--middle grid--narrow grid--right">
          <div class="grid__item col-1-4">
            <a href="https://github.com/srcclr" class="mh-" target="_blank">
              {{fa-icon "github-square" modifier="2x" class="color--white color-hover--primary"}}
            </a>
          </div>
          <div class="grid__item col-1-4">
            <a href="https://twitter.com/srcclr" class="mh-" target="_blank">
              {{fa-icon "twitter-square" modifier="2x" class=" color--white color-hover--primary"}}
            </a>
          </div>
          <div class="grid__item col-1-4">
            <a href="https://www.linkedin.com/company/sourceclear" class="mh- color--white" target="_blank">
              {{fa-icon "linkedin-square" modifier="2x" class=" color--white color-hover--primary"}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
