<div class="footer bg-color--black-dark">
  <div class="container">
    <div class="grid grid--full">
      <div class="grid__item col-1-12">
        <a href="/">
          <i class="sci sci__src-symbol--bracket sci--lg color--white"></i>
        </a>
      </div>
      <div class="grid__item col-1-10 text--center">
        <a href="https://srcclr.com/about-us">About Us</a>
      </div>
      <div class="grid__item col-1-10 text--center">
        <a href="https://srcclr.com/contact-us">Contact</a>
      </div>
      <div class="grid__item col-1-10 text--center">
        <a href="https://blog.srcclr.com" target="_blank">Blog</a>
      </div>
      <div class="grid__item col-1-10 text--center">
        <a href="https://open.srcclr.com" target="_blank">Community</a>
      </div>
      <div class="grid__item col-1-10 text--center">
        <a href="https://srcclr.com/contact-us">Legal</a>
      </div>
      <div class="grid__item col-5-12 text--right">
        <a href="https://github.com/sourceclear">{{fa-icon "github-square" modifier="2x"}}</a>
        <a href="https://twitter.com/srcclr">{{fa-icon "twitter-square" modifier="2x"}}</a>
        <a href="https://www.linkedin.com/company/sourceclear">{{fa-icon "linkedin-square" modifier="2x"}}</a>
      </div>
    </div>
  </div>
</div>
