<div class="footer">
  <div class="container">
    <p class="copyright">© Copyright {{current-year}} - Continuous Security</p>
    {{#link-to 'termsOfUse'}}
      {{i18n 'footer.links.terms_of_use'}}
    {{/link-to}}
    {{#link-to 'privacyPolicy'}}
      {{i18n 'footer.links.privacy_policy'}}
    {{/link-to}}
    <a href="#">Contact</a>
  </div>
</div>
