<div class="footer">
  <div class="container">
    <p class="copyright">© Copyright {{current-year}} - Continuous Security</p>
    {{#link-to 'termsOfUse'}}
      Terms of Use
    {{/link-to}}
    <a href="#">Privacy Policy</a>
    <a href="#">Contact</a>
  </div>
</div>
