<footer class="footer footer--new">
  <div class="container nav--footer pv">
    <div class="grid grid--middle grid--full">
      <div class="grid__item col-5-6 phone--col-1-1">
        <div class="grid grid--middle grid--full">
          <div class="grid__item col-1-12 phone--col-1-1">
            <div class="grid grid--middle">
              <div class="grid__item col-1-1 phone--col-1-2">
                <a href="https://srcclr.com/" target="_blank" class="inline-block">
                  <i class="sci sci__src-symbol--bracket sci--xl"></i>
                </a>
              </div>
              <div class="grid__item col-1-1 desk--hide tablet--hide phone--col-1-2 phone--text--right">
                <div class="grid">
                  <div class="grid__item col-1-6 phone--col-1-1">
                    <div class="grid grid--middle grid--narrow">
                      <div class="grid__item col-1-4 phone--col-1-3">
                        <a class="mh- color--white a--footer" target="_blank" href="https://github.com/srcclr">
                          <i class="fa fa-github-square phone--font--h1 color-hover--primary sci--lg"></i>
                        </a>
                      </div>
                      <div class="grid__item col-1-4 phone--col-1-3">
                        <a class="mh- color--white a--footer" target="_blank" href="https://twitter.com/srcclr">
                          <i class="fa fa-twitter-square phone--font--h1 color-hover--primary sci--lg"></i>
                        </a>
                      </div>
                      <div class="grid__item col-1-4 phone--col-1-3">
                        <a class="mh- color--white a--footer" target="_blank" href="https://www.linkedin.com/company/sourceclear">
                          <i class="fa fa-linkedin-square phone--font--h1 color-hover--primary sci--lg"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid__item col-11-12 phone--col-1-1">
            <div class="grid color--white tablet--grid--full phone--grid--full">
              <div class="grid__item col-1-8 portable--pv--- phone--col-1-1">
                <a href="https://srcclr.com/about-us" targer="_blank" class="btn--footer font-family--heading color--white inline-block col-1-1 text--center pv-">About us</a>
              </div>
              <div class="grid__item col-1-8 portable--pv--- phone--col-1-1 phone--bo--t-1">
                <a href="https://srcclr.com/contact-us" target="_blank" class="btn--footer font-family--heading color--white inline-block col-1-1 text--center pv-">Contact</a>
              </div>
              <div class="grid__item col-1-8 portable--pv--- phone--col-1-1 phone--bo--t-1">
                <a href="/" class="btn--footer font-family--heading color--white inline-block col-1-1 text--center pv-">Blog</a>
              </div>
              <div class="grid__item col-1-8 portable--pv--- phone--col-1-1 phone--bo--t-1">
                <a href="https://open.srcclr.com/" target="_blank" class="btn--footer font-family--heading color--white inline-block col-1-1 text--center pv-">Community</a>
              </div>
              <div class="grid__item col-1-8 portable--pv--- phone--col-1-1 phone--bo--t-1">
                <a href="https://srcclr.com/legal" target="_blank" class="btn--footer font-family--heading color--white inline-block col-1-1 text--center pv-">Legal</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item col-1-6 phone--hide">
        <div class="grid grid--middle grid--narrow grid--right">
          <div class="grid__item col-1-4">
            <a class="mh- color--white a--footer" target="_blank" href="https://github.com/srcclr">
              <i class="fa fa-github-square color-hover--primary sci--lg"></i>
            </a>
          </div>
          <div class="grid__item col-1-4">
            <a class="mh- color--white a--footer" target="_blank" href="https://twitter.com/srcclr">
              <i class="fa fa-twitter-square color-hover--primary sci--lg"></i>
            </a>
          </div>
          <div class="grid__item col-1-4">
            <a class="mh- color--white a--footer" target="_blank" href="https://www.linkedin.com/company/sourceclear">
              <i class="fa fa-linkedin-square color-hover--primary sci--lg"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
