<div class="footer">
  <div class="container">
    <p class="copyright">© Copyright {{current-year}} - Continuous Security</p>
    <a href="#">Terms of Use</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Contact</a>
  </div>
</div>
