{{plugin-outlet "header-before-dropdowns"}}
{{user-menu visible=userMenuVisible logoutAction="logout"}}
{{hamburger-menu visible=hamburgerVisible showKeyboardAction="showKeyboardShortcutsHelp"}}
{{search-menu visible=searchVisible}}

<div class="top-bar bg-color--black-dark">
  <div class="container min-height--50">
    <div class="logo-container">
      <a href="https://srcclr.com">
        <i class="sci sci__src-logo--primary color--white lh--" style="font-size: 5em;"></i>
      </a>
    </div>
  </div>
</div>
