<section class='d-dropdown top-nav-dropdown' id='about-dropdown'>
  <ul>
    <li>
      {{#link-to 'discovery.parentCategory' 'recipes'}}
        {{i18n 'navigation.help.recipes'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'about-site'}}
        {{i18n 'navigation.help.about'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'contributors'}}
        {{i18n 'navigation.help.contributors'}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'supporters'}}
        {{i18n 'navigation.help.supporters'}}
      {{/link-to}}
    </li>
  </ul>
</section>
