<div class="homepage container">
  <div class="grid grid--wide">
    <div class="grid__item col-2-3 portable--col-1-1">
      <div class="mb+">
        <h1 class="mb--">Open@SRC:CLR</h1>
        <h3>
          Welcome to the SourceClear community site! Learn more about how to
          build software, safely. Try our open-source security tools and join
          the discussions.
        </h3>
      </div>
      <div class="position--relative mb+ homepage-section">
        <i class="sci sci--lg sci__catalog section-icon"></i>
        {{partial "homepage/guides"}}
      </div>
      <div class="position--relative mb+ homepage-section">
        <i class="sci sci--lg sci__chat--group section-icon"></i>
        {{#if model.active}}
          <h3 class="mb- color--warning">
            Most <strong class="color--muted">Active</strong> Discussions
          </h3>
          {{ topic-list topics=model.active class="active-discussions-list" }}
        {{/if}}
        {{#if model.recent}}
          <h3 class="mb- color--warning">
            Most <strong class="color--muted">Recent</strong> Discussions
          </h3>
          {{ topic-list topics=model.recent class="recent-discussions-list"}}
        {{/if}}
      </div>
    </div>
    <aside class="grid__item col-1-3 portable--col-1-1">
      <div class="homepage-sidebar ">
        <div class="mb+ pb+ sidebar-signup">
          <h3 class="mb- color--warning">
            Subscribe to our Newsletter!
          </h3>
          <h4 class="mb">
            No spam, ever.<br>
            Unsubscribe at any time.
          </h4>
          <form class="marketo-form m0" action="https://srcclr.com/" method="GET">
            <input class="control--text mb- p0" id="Email" maxlength="80" results="0" name="Email" required="" type="Email" placeholder="enter your email to subscribe">
            <button type="submit" class="btn--sm bg-color--muted-light">
              Submit
              <i class="sci sci__arrow--external-link"></i>
            </button>
          </form>
        </div>

        <div class="mb+ sidebar-project">
          <div class="text--nowrap">
            <i class="sci sci--lg sci__trophy mb- mr-"></i>
            <h3 class="inline-block mb- color--warning font--20">BugHunt</h3>
          </div>
          <p class="text--left">
            Interact with our open-source Twitter bot and find interesting
            real-world security bugs in code. New challenges are released
            every week and a leaderboard is  updated for bragging rights.
          </p>
          <a href="projects/bughunt" class="color--primary font--18 font--simple">
            Start Hunting!
          </a>
        </div>

        <div class="mb+ sidebar-project">
          <div class="text--nowrap">
            <i class="sci sci--lg sci__view--graph mb- mr-"></i>
            <h3 class="inline-block mb- color--warning font--20">Security Headers</h3>
          </div>
          <p class="text--left">
            Secure HTTP headers can mitigate common attacks like XSS, CSRF,
            and click-jacking. See their adoption across the Alexa Top 1
            million websites and test your own site for free.
          </p>
          <a href="projects/security-headers" class="color--primary font--18 font--simple">
            Check it out!
          </a>
        </div>
      </div>
    </aside>
  </div>
</div>
