<div class='landing'>
  <section class='bottom-section'>
    <div class='container'>
      {{#if model}}
        <section class='top-section'>
          <a class='section-anchor' name='discussions' id='discussions'></a>
          <h4 class="bo-b--1 pt- pb-">
            {{i18n 'homepage.latest_discussions'}}
          </h4>
          {{ topic-list topics=model }}
        </section>
      {{/if}}
    </div>
  </section>
</div>
