<div class="container main-section bo-rad--5 pt pb+ mb">
  <h2 class="text--center mb">
    <i class="sci sci__check--box"></i>
    NWS:LTTR - Curated open source and security articles, projects and news. Delivered weekly.
  </h2>

  <div class="grid grid--center">
    <div class="grid__item col-1-2 bg-color--warning-light bo-rad--5 p mb+">
      <form class="marketo-form m0" action="https://srcclr.com/api/marketo/signup?redirect=true" method="POST">
        <div class="input--with-icon">
          <input class="control--text" id="Email" maxlength="80" results="0" name="Email" required="" type="Email" placeholder="_ Enter your email to sign for our NWS:LTTR">
          <button type="submit" class="btn bg-color--warning color--white btn--sm">
            Submit
            <i class="sci sci__arrow--external-link"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item col-1-2 portable--col-1-1 newsletter-preview p"></div>
    <div class="grid__item col-1-2 portable--col-1-1 pr++">
      <h3 class="mb-">Latest Vulnerabilities</h3>
      <p class="mb">
        Vulns discovered in open source components over the past 7 days.
      </p>

      <h3 class="mb-">What we're reading</h3>
      <p class="mb">
        News, GItHub projects, security research, guides and other content making rounds internally.
      </p>

      <h3 class="mb-">What we're writing</h3>
      <p class="mb">
        How-to's, security research and projects from the SCR:CLR Engineering and Research teams.
      </p>

      <h3 class="mb-">BugHunt</h3>
      <p class="mb">
        Our weekly code challenge on <a href="https://github.com/srcclr/bughunt">GitHub</a>. {{#link-to "bughunt" class="navbar__link"}}We keep score{{/link-to}}, and winners (announced in each NWS:LTTR) get free t-shirts.
      </p>

      {{partial "newsletter-archive"}}
    </div>
  </div>
</div>
