<div class="newsletter-container">
  <h4 class="newsletter-title mb color--warning font--24">
    <a href="/nwslttr"><i class="sci sci__caret--left color--warning"></i></a>
    NWS:LTTR {{ model.title }}
  </h4>
  {{{ model.body }}}
</div>
