<div class="container main-section pt pb+ mb">
  <h2 class="text--center mb pl pr">
    <i class="sci sci__check--box"></i>
    NWS:LTTR - Curated open source and security articles, projects and news. Delivered weekly.
  </h2>

  <div class="grid grid--center grid--full">
    <div class="grid__item col-1-2 portable--col-1-1 bo--1 p mb+">
      <form class="marketo-form m0" action="https://srcclr.com/" method="GET">
        <div class="input--with-icon">
          <input class="control--text" id="Email" maxlength="80" results="0" name="Email" required="" type="Email" placeholder="_ Enter your email to sign for our NWS:LTTR">
          <button type="submit" class="btn btn--sm">
            Submit
            <i class="sci sci__arrow--external-link"></i>
          </button>
        </div>
        <small class="color--muted-dark">No spam, ever. Unsubscribe at any time.</small>
      </form>
    </div>
  </div>

  {{#if model.latestNewsletter }}
    <h4 class="text--center mb">
      Read the latest edition
      <a href="/newsletters/{{model.latestNewsletter.id}}" target="_blank">
        {{model.latestNewsletter.title}}
      </a>
      here
    </h4>
  {{/if}}

  <div class="grid">
    <div class="grid__item col-1-2 portable--col-1-1 center p">
      <img src="/nwslttr/latest" class="newsletter-img">
    </div>
    <div class="grid__item col-1-2 portable--col-1-1 pr++">
      <h3 class="mb-">Latest Vulnerabilities</h3>
      <p class="mb">
        Vulns discovered in open source components over the past 7 days.
      </p>

      <h3 class="mb-">What we're reading</h3>
      <p class="mb">
        News, GitHub projects, security research, guides and other content making rounds internally.
      </p>

      <h3 class="mb-">What we're writing</h3>
      <p class="mb">
        How-to's, security research and projects from the SRC:CLR Engineering and Research teams.
      </p>

      <h3 class="mb-">BugHunt</h3>
      <p class="mb">
        Our weekly code challenge on <a href="https://github.com/srcclr/bughunt">GitHub</a>. {{#link-to "bughunt"}}We keep score{{/link-to}}, and winners (announced in each NWS:LTTR) get free t-shirts.
      </p>

      {{partial "newsletter-archive"}}
    </div>
  </div>
</div>
