<h3 class="mb-">NWS:LTTR Archive</h3>

<table class="table--striped">
  <tbody>
    {{#each newsletter in model.newsletters}}
      <tr>
        <td>{{newsletter.title}}</td>
        <td><a href="#" class="color--primary">Download PDF</a></td>
        <td><a href="/newsletter_archives/{{newsletter.id}}" class="color--primary" target="_">View</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
