<section class='static-page'>
  <div class='container'>
    <h1>
      {{i18n 'static.newsletter.title'}}
    </h1>
    <div class="error-page">
      <div class="reason">{{i18n 'coming_soon'}}</div>
    </div>
  </div>
</section>
