<h3 class="mb+">Archive</h3>

{{#conditional-loading-spinner condition=loading}}
  <div class="grid grid--wide">
    {{#each newsletter in model.newsletters}}
      <div class="grid__item col-1-3 lap--col-1-2 phone--col-1-1 mb-">
        <div class="grid grid--full">
          <div class="grid__item col-1-6">
            {{formatted-date newsletter.created_at "DD.MM.YY"}}
          </div>
          <div class="grid__item col-2-3 text--center">
            <a href="/newsletters/{{newsletter.id}}">{{newsletter.title}}</a>
          </div>
          <div class="grid__item col-1-6 text--right">
            <a href="/newsletters/{{newsletter.id}}/download">
              <i class="fa fa-file-pdf-o"></i>
              pdf
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/conditional-loading-spinner}}
