<section class='static-page'>
  <div class='container'>
    <h1>
      {{i18n 'static.projects.title'}}
    </h1>
    <ul>
      <li>
        {{#link-to 'headlines'}}
          {{i18n 'navigation.security_headers.title'}}
        {{/link-to}}
      </li>
    </ul>
  </div>
</section>
