<section class='d-dropdown top-nav-dropdown' id='resources-dropdown'>
  <ul>
    <li>
      {{#link-to 'table-of-contents'}}
        {{i18n 'navigation.resources.toc'}}
      {{/link-to}}
    </li>
  </ul>
</section>
