<section class='d-dropdown top-nav-dropdown' id='resources-dropdown'>
  <ul>
    <li>
    <a href=''>Book</a>
    </li>
    <li>
      {{#link-to 'discovery.parentCategory' 'recipes'}}Recipes{{/link-to}}
    </li>
  </ul>
</section>
