<section class='d-dropdown top-nav-dropdown' id='resources-dropdown'>
  <ul>
    <li>
      <a {{bind-attr href="linkToTableOfContent"}}>
        {{i18n 'navigation.resources.toc'}}
      </a>
    </li>
  </ul>
</section>
