{{#each category in parentCategories}}
  {{#link-to 'discovery.parentCategory' category.slug tagName='li'}}
    {{#link-to 'discovery.parentCategory'}}{{category.name}}{{/link-to}}
  {{/link-to}}
{{/each}}

<div class='clear'></div>
