<div class="external-login">
  {{#each b in buttons}}
    <button {{bind-attr class=":btn-primary b.name"}} {{action "externalLogin" b}}>
    <i class="fa fa-github"></i> {{b.title}}
    </button>
  {{/each}}
</div>
