<div class="external-login">
  {{#each b in buttons}}
    <button {{bind-attr class=":btn-primary b.name"}} {{action "externalLogin" b}}>
      Log in with <i class="fa fa-{{ b.name }}"></i>
    </button>
  {{/each}}
</div>
