<a class="btn--full btn--primary mb--" href="https://github.com/srcclr/bughunt">GH Challenge Repo</a>
<a class="btn--full btn--primary-clear mb--" href="/bughunt">Leaderboard</a>
<a class="btn--full btn--primary-clear mb--" href="https://github.com/srcclr/bughunt-leaderboard">GH Leaderboard Repo</a>
<a class="btn--full btn--primary-clear mb--" href="/c/leaderboard">Discuss</a>
