{{#if currentUser}}
  <a class="btn--full btn--primary mb--" href="/{{model.name}}">Use the Tool</a>
{{else}}
  <button class="btn--full btn--default disabled mb--">Login to use the tool</button>
{{/if}}

<a class="btn--full btn--primary-clear mb--" href="{{model.html_url}}">GH Repo</a>
<a class="btn--full btn--primary-clear mb--" href="/c/csp-reports">Discuss</a>
