{{#if model.isPluginInstalled}}
  <a class="btn--full btn--primary mb--" href="/{{model.name}}">Use the Tool</a>
{{else}}
  <a class="btn--full btn--primary mb--" href="http://github.com/srcclr/security-headers">Install plugin</a>
{{/if}}
<a class="btn--full btn--primary-clear mb--" href="{{model.html_url}}">GH Repo</a>
<a class="btn--full btn--primary-clear mb--" href="/c/security-headers">Discuss</a>
<a class="btn--full btn--primary-clear mb--" href="https://blog.srcclr.com/http-secure-headers-in-plain-english" target="_blank">
  Read more
  <i class="sci sci__arrow--external-link"></i>
</a>
