<h2>Description</h2>

<p>This is a contest consisting of weekly challenges. Each challenge is some code with <em>one</em> intentional bug. The goal is to find the bug. Simple! The bug may be a single line, or a contiguous section of code. This is a contest consisting of a new challenge every week. Each directory contains a different challenge. Please note, odious coding style or "unusual" design choices do not count as bugs. Forgive us.</p>

<p>Points are awarded by how quickly you solve the challenge. The maximum points for a challenge is 7. To get 7 points, your last submission must be correct and must have been submitted within 24 hours of the start of the challenge. For every 24 hour period after the start of the challenge, 1 point is deducted from the maximum. This means if you answer correctly on the last day, you get 1 point.</p>

<p>The first contest runs for 12 weeks.</p>

<h2>Submissions</h2>

<p>Since we didn't want to spend all day processing submissions, we did what any good (read: <em>lazy</em>) developer would do and automated it. We built a Twitter bot. We named it ChallengeBot and it's connected to our Twitter account <code>@srcclr</code>. It processes submissions for us and does some other tedious stuff so we don't have to.</p>

<p>Briefly, the steps for submitting an answer to a challenge:</p>

<ol>
<li>pick a challenge</li>
<li>find the bug</li>
<li>hash the <em>line number(s)</em> of the bug</li>
<li>submit hash to <code>@srcclr</code></li>
</ol>

<p>If the challenge is in progress, you'll have to wait until it's finished before we'll tell you if your answer is right. If the challenge is over, we will immediately tell you if the answer is right or wrong, but you won't get points for it.</p>

<p>Here's how each step works in detail:</p>

<h3>Step 1: Pick a Challenge</h3>

<p>This part is easy. Each sub-directory is a challenge. The <em>name of the directory</em> is the name of the challenge.</p>

<h3>Step 2: Find the Bug</h3>

<p>The fun part. Just remember, the bug probably has some security implication, and bad style doesn't count as a bug.</p>

<h3>Step 3: Hash the Line Number(s)</h3>

<p>Since Tweets are public, and we don't want people to steal each others answers, the answer must be hashed. This isn't enough to keep someone from brute forcing all hashes of line numbers, so you must append a secret, random "submission code" that we give you to your answer before hashing.</p>

<p>To request a submission code:</p>

<ol>
<li>Follow <code>@srcclr</code>. This is so we can direct message you.</li>
<li>Tweet: <code>@srcclr send me my submission code</code></li>
</ol>

<p>Within a few seconds, you should get a reply with your unique submission code.</p>

<p>Once you have your submission code, append it to your answer and hash it, like this (but without brackets!):
<code>
echo -n "{answer}{submission code}" | openssl sha1
</code></p>

<p>If you don't have access to a proper command line, you can use this: <a href="http://www.sha1-online.com/">http://www.sha1-online.com/</a></p>

<p>If the answer is multiple lines, simply combine line numbers with commas.</p>

<p>Once you have your answer hash, submit it by Tweeting (without brackets!):
<code>
@srcclr submit {challenge name} {answer hash}
</code>`</p>

<h2>Walkthrough with ExampleChallenge</h2>

<p>The cleverly named <a href="https://github.com/srcclr/bughunt/blob/master/ExampleChallenge">ExampleChallenge</a> exists so you can make sure everything works. The answer for this challenge is <code>42</code>. Let's walk through how to submit a solution.</p>

<p>First, you'll need a submission code. Request it with <code>@srcclr send me my submission code</code>. Let's assume the submission code is <code>9b00047237880ae7048120cd90160604</code>.</p>

<p>Next, append your submission code to the answer to get <code>429b00047237880ae7048120cd90160604</code>.</p>

<p>Then, hash it using <code>echo -n "429b00047237880ae7048120cd90160604" | openssl sha1</code>.
The hash is <code>06770419e472bb356a90c1f7350baec981d0aa26</code>.</p>

<p><strong>Note:</strong> when you do this for yourself, the submission code and the hash will be different!</p>

<p>Finally, submit the answer with <code>@srcclr submit ExampleChallenge 06770419e472bb356a90c1f7350baec981d0aa26</code>. You should get a reply telling you that your submission is correct.</p>

<h2>Disputes</h2>

<p>We may unintentionally have more than the one bug in a challenge. We're only human (except ChallengeBot). If you get a challenge wrong, but believe you were right, please feel free to create a GitHub Issue. Explain to us why you think your answer is right. We'll review it and potentially add it as a correct answer. We may also review it and tell you something snarky like "LOL NOPE", indicating we disagree.</p>

<h2>Submitting Challenges</h2>

<p>Check out our <a href="https://github.com/srcclr/bughunt/wiki/Challenge-Submission-Guidelines">Challenge Submission Guidelines</a>.</p>

<h2>Submitting Solutions</h2>

<p>Check out our <a href="https://github.com/srcclr/bughunt/wiki/Solution-Write-up-Guidelines">Solution Write-Up Guidelines</a>.</p>

<h2>Contact</h2>

<p>You can reach us via
<a href="mailto:bughunt@srcclr.com">bughunt@srcclr.com</a>.</p>

<h1>ChallengeBot Commands</h1>

<p>ChallengeBot is open source. We hope dearly that the hordes of bug hunters we've attracted do not tear it to shreds. You can check it out here:
<a href="https://github.com/srcclr/challenge_bot">https://github.com/srcclr/challenge_bot</a></p>
