<h2>Description</h2>

<p>SSL certificates have an expiry date. Users of the site are shown security warnings by most browsers while visiting a website with an expired certificate. For an expired certificate the revocation date is no longer published. Thus one cannot trust an expired certificate as its revocation status cannot be checked. In addition, if the site has HSTS (HTTP Strcit Transport Security) enabled then it will not be accessible using an expired certificate on latest version of most browsers.</p>

<p>The SSL Reminder tool allows you to set up your automated reminders to notify you of the upcoming expiry of SSL certificates on your domains. This will enable you to renew them on time and avoid the problems with an expired ceritificate.</p>
