// Colors

$color--primary: #00afd7;
$color--primary-light: #a2ddec;
$color--primary-dark: #0082ba;
$color--success: #97d700;
$color--success-light: #c2e86e;
$color--success-dark: #7a9a01;
$color--warning: #ffb81c;
$color--warning-light: #fbd872;
$color--warning-dark: #ad841f;
$color--danger: #f9423a;
$color--danger-light: #fb6879;
$color--danger-dark: #ae2627;
$color--danger-high: #fb0008;
$color--muted-light: #dadcdf;
$color--muted: #94a2aa;
$color--muted-dark: #717780;
$color--black-light: #3d3d3d;
$color--black: #231f20;
$color--black-dark: #202528;
$color--white-light: #fbfcfc;
$color--white: #fff;
$color--white-dark: #e2e3e4;

// Media queries breakpoints

$screen-phone: 320px;
$screen-small: 480px;
$screen-laptop: 780px;
$screen-large: 1024px;
