.footer {
  height: 60px;
  line-height: 60px;
  overflow: hidden;

  a {
    color: #F9FCFD;
    font-size: 15px;
    margin: 0 8px;
    font-family: "Simple Regular", monospace;
    &:hover { color: #fff; }
  }
}

.copyright {
  float: right;
  margin: 0;
}
