$footer-height: 95px;

#main,
#main > div:first-child {
  height: 100%;
}

#main-outlet {
  position: relative;
  min-height: 100%;
  height: auto !important;
  margin: 0px auto -#{$footer-height};
}

.push,
.footer {
  height: $footer-height;
}

.footer {
  position: relative;
  clear: both;
  overflow: hidden;

  .nav--footer a {
    color: #fff;
    font-family: "Simple Regular", monospace;

    &:hover {
      color: #00afd7;
    }
  }

  .grid__item {
    font-size: 13px;
  }
}

.copyright {
  float: right;
  margin: 0;
  color: #fff;
  font-family: "Simple Regular", monospace;
  line-height: $footer-height;
}
