$footer-height: 96px;

#main,
#main > div:first-child {
  height: 100%;
}

#main-outlet {
  min-height: 100%;
  height: auto !important;
  margin: 0px auto -60px;
}

.push,
.footer {
  height: $footer-height;
}

.footer {
  position: relative;
  overflow: hidden;

  .nav--footer a {
    font-family: "Simple Regular", monospace;
    border-radius: 3px;
    color: #fff;

    &:hover {
      background: #00afd7;
      color: #fff;
    }

    &:focus {
      color: #fff;
    }
  }

  .grid__item {
    font-size: 13px;
  }
}

.copyright {
  float: right;
  margin: 0;
  color: #fff;
  font-family: "Simple Regular", monospace;
  line-height: $footer-height;
}
