$footer-height: 95px;

#main,
#main > div:first-child {
  height: 100%;
}

#main-outlet {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -#{$footer-height};
  @media screen and (max-width: 779px) {
    margin: 0 auto;
  }
}

.push,
.footer {
  height: $footer-height;

  @media screen and (max-width: 779px) {
    height: auto;
  }
}

.footer {
  position: relative;
  clear: both;
  overflow: hidden;

  background: $color--black-dark;

  .nav--footer a {
    color: #fff;
    font-family: "Simple Regular", monospace;

    &:hover {
      color: #00afd7;
    }
  }

  .grid__item {
    font-size: 13px;
  }
}

.copyright {
  float: right;
  margin: 0;
  color: #fff;
  font-family: "Simple Regular", monospace;
  line-height: $footer-height;
}
