$navbar-height: 50px;

#search-button {
  color: $color--white;
}

.d-header {
  box-shadow: none;
  background-color: $color--black-dark;
  padding: 0;
  height: auto;

  .icons {
    margin: 0;
    padding: 0;
    white-space: nowrap;

    li {
      display: inline-block;
      float: none;
      padding-right: 10px;

      &:last-child {
        padding: 0;
      }
    }

    .icon {
      border-width: 0;
      border-radius: 50%;
      padding: 0;
      width: 32px;
      height: 32px;
      overflow: hidden;

      &:hover {
        border-width: 0;
      }
    }
  }
}

.top-bar {
  .logo-container {
    float: left;
  }

  .logo-container {
    margin: 6px 15px 0 0;
    width: 75px;

    @media screen and (max-width: 779px) {
      @include centerer($vertical: false);
      margin: 6px 0;
    }
  }

  .nav-toggle-container {
    display: none;
    margin: 12px 0;

    @media screen and (max-width: 779px) {
      display: block;
    }
  }

  .nav-container {
    margin: 0 130px 0 50px;

    @media screen and (min-width: 780px) {
      display: block !important;
    }

    @media screen and (max-width: 779px) {
      margin: 35px 20px 0;
    }
  }

  .icons-container {
    float: right;
    margin: 7px 0;
  }

  .search {
    float: right;
    list-style: none;
    text-align: right;
  }

  .nav {
    background: none;
    font-size: 13px;
  }

  .navbar__item {
    height: $navbar-height;
    font-size: 1em;

    &::after {
      display: none;
    }

    @media screen and (max-width: 779px) {
      display: block;
      text-align: center;
    }
  }

  .navbar__link {
    display: block;
    margin: 0 8px;
    padding: 0 1em;
    height: $navbar-height !important;
    line-height: $navbar-height;
    color: $color--white;
    font-size: 1em;

    &.active,
    &:hover {
      background: none;
      color: $color--primary;
    }
  }
}

.drop-down {
  border: 0;
  box-shadow: none;
  background: $color--black-dark;

  ul {
    padding: 0;
  }

  a,
  i,
  .badge-wrapper.bullet span.badge-category {
    color: $color--white !important;
  }

  a:hover {
    background-color: $color--primary !important;
    text-decoration: none;
  }
}

.social-connections {
  margin-top: 10px;
  padding: 0 5px 0 0;
}
