span.bbcode-nav {
  display: block;
  margin: 30px 0;
  width: 100%;
  clear: both;
  overflow: hidden;
  background: #e5e5e5;
  box-sizing: border-box;
  padding: 20px;

  .fa {
    font-size: 18px;
    color: #808080;
    vertical-align: middle;
  }

  .bbcode-nav-prev a { margin-left: 5px; }

  .bbcode-nav-next {
    float: right;

    a {
      margin-right: 5px;
    }
  }
}

ol.category-breadcrumb {
  clear: both;
  width: 100%;
  font-weight: 300;
  margin: 0 0 35px;
  font-size: 24px;

  a {
    color: #000;
    display: inline-block;
    margin-right: 20px;
    padding: 10px 5px 0;
    border-top: solid 4px #fff;
    margin-left: -5px;
  }

  li.active {
    a {
      border-top: solid 4px #000;
    }
  }

}

#navigation-bar.nav-pills {
  > li {
    a {
      &:hover {
        color: #222;
        background-color: #fff;
      }
    }
    &.active > a, > a.active {
      padding-top: 3px;
      color: #222;
      background-color: #fff;
      border-top: solid 2px #000;
    }
  }
}
