.nav-menu {
  ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    height: 100%;
    list-style: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;

    @media screen and (max-width: $screen-laptop - 1) {
      padding-bottom: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
                  -ms-grid-row-align: stretch;
              align-items: stretch;
    }
  }

  li {
    position: relative;
    text-align: center;

    @media screen and (max-width: $screen-laptop - 1) {
      border-bottom: 1px solid $color--white;
    }

    &::after {
      @media screen and (min-width: $screen-laptop) {
        position: absolute;
        top: 10px !important;
        right: 0;
        border-right: 1px solid $color--muted;
        height: 26px;
        content: "" !important;
      }
    }

    &:last-of-type::after {
      display: none;
    }
  }

  a {
    display: inline-block;
    position: relative;
    padding: 16px 20px 10px;
    color: $color--white;
    font-family: $font-simple-regular;
    font-size: 13px;
    border-bottom: 5px solid transparent;

    &.active,
    &:hover {
      background: none;
      color: $color--white;
    }

    &.active {
      border-bottom: 5px solid $color--white;
    }
  }
}

span.bbcode-nav {
  display: block;
  margin: 30px 0;
  width: 100%;
  clear: both;
  overflow: hidden;
  background: #e5e5e5;
  box-sizing: border-box;
  padding: 20px;

  .fa {
    font-size: 18px;
    color: #808080;
    vertical-align: middle;
  }

  .bbcode-nav-prev a { margin-left: 5px; }

  .bbcode-nav-next {
    float: right;

    a {
      margin-right: 5px;
    }
  }
}

ol.category-breadcrumb {
  clear: both;
  width: 100%;
  font-weight: 300;
  margin: 0 0 35px;
  font-size: 24px;

  a {
    display: inline-block;
    margin: 15px 20px 0 -5px;
    padding: 10px 5px 0;
    color: #000;
    font-family: "Roboto", sans-serif;
  }
}

.nav-pills {
  > li {
    a {
      &:hover {
        color: #222;
        background-color: #fff;
      }
    }

    &.active > a,
    > a.active {
      color: #fff;
      background-color: #00afd7;
    }
  }
}

.related-resources {
  h2 {
    margin: 0 0 13px;
    font-size: 18px;
    font-weight: 300;
  }

  h3 {
    margin: 0;
    line-height: 1;
  }

  a {
    color: #1483B8;
    font-size: 14px;

    &:hover {
      color: darken(#1483B8, 10%);
    }
  }
}

.page-nav {
  position: fixed;
  right: -150px;
  top: 115px;
  width: 150px;
  padding: 10px 14px;
  background: rgba(#202528, .5);
  list-style-type: none;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: right;
  border-radius: 0 0 0 2px;
  box-sizing: border-box;
  transition: right .1s ease;
  transition-delay: .1s;
  will-change: right;

  &:hover {
    right: 0;
  }

  &:before {
    content: "\f142";
    display: block;
    position: absolute;
    width: 20px;
    height: auto;
    background: rgba(#202528, .5);
    left: -20px;
    top: 0;
    bottom: 0;
    padding-top: 5px;
    z-index: 1;
    border-radius: 2px 0 0 2px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    @extend .fa;
  }

  a {
    display: block;
    color: #fff;

    &:after {
      content: '';
      display: inline-block;
      margin: 0 0 0 5px;
      width: 10px;
      height: 10px;
      border: 1px solid #fff;
      vertical-align: middle;
    }

    &:hover:after,
    &:focus:after,
    &.active:after {
      background: #fff;
    }
  }
}
