.settings {
  .setting {
    .setting-value {
      width: 404px !important;
    }

    .setting-controls {
      float: right;
    }

    .textarea-setting-string {
      width: 404px;
      height: 100px;
    }
  }
}

.staff-actions {
  .staff_user { width: 15% !important; }
  .col { overflow-y: hidden !important; }
}

.admin-container .table {
  table-layout: fixed;
}
