.settings {
  .setting {
    .textarea-setting-string {
      height: 100px;
      width: 404px;
    }
  }
}

.staff-actions  {
  .staff_user { width: 15% !important; }
  .col { overflow-y: hidden !important; }
}

