.admin-detail .settings {
  .btn {
    padding: 5px 12px;
  }

  .input-setting-string {
    @extend .control--text;
  }

  .bool {
    input {
      opacity: 1;
    }
  }

  .setting-value + .btn,
  .setting-controls { margin: 0 0 0 10px; }
}
