.communities-map {
  height: 500px;
  margin: -30px 0 50px;
}

.grid-item {
  width: 30%;
  height: 100px;
  margin: 10px 3% 20px 0;
  border: solid 1px #e0e0e0;
  float: left;
  font-weight: 400;
  position: relative;

  h3 {
    font-weight: 300;
    font-size: 17px;
    padding-bottom: 5px;
  }

  a {
    color: #333;
    font-size: 13px;
    position: absolute;
    padding: 10px 20px 10px 10px;
    bottom: 0;
    left: 0;
    right: 0;

    &:hover {
      color: #08c;
    }
  }

  &:nth-child(3n) {
    clear: right;
  }

  &:nth-child(3n+1) {
    clear: left;
  }
}

.communities {
  padding-bottom: 50px;

  h2 {
    font-weight: 300;
  }
}
