.not-found-container {
  h1, h2 { line-height: 1.2; }
  h1 { font-size: 36px; }
  h2 { font-size: 28px; }
}

.page-not-found,
.page-not-found-topics,
.page-not-found-search {
  padding: 0 5%;
  max-width: 90%;
}

.popular-topics, .recent-topics {
  margin-bottom: 20px;
  width: 47%;
  min-width: 315px;
}

.popular-topics {
  float: left;
}
