%normalize-spans {
  [class^="span"] {
    display: inline-block;
    float: none;
    width: auto !important;
    text-align: left;
  }
}

.page-error {
  .logo-container {
    left: 50%;
  }
}

.page-not-found {
  text-align: center;
  font-size: 36px;
}

.page-not-found-search h2,
.popular-topics-title,
.recent-topics-title {
  font-size: 28px;
}

.page-not-found,
.popular-topics-title,
.recent-topics-title {
  line-height: 1.2;
}

.popular-topics,
.recent-topics {
  float: left;
  margin: 0 0 20px !important;
  padding: 0 10px;
  width: 50%;
  min-width: 315px;
}

.page-not-found-topics {
  @extend %normalize-spans;
  margin: 0 -10px;
  text-align: center;
}

.not-found-container {
  .row {
    @extend %normalize-spans;
    text-align: center;
  }

  @media screen and (max-width: 779px) {
    padding: 300px 0 0 !important;
  }
}
