$founders:
          amazon amazon,
          box box,
          etsy etsy,
          linkedin linkedin,
          new-relic new_relic,
          riot-games riot_games,
          src-clr src_clr,
          zendesk zendesk;

@each $founder in $founders {
  .#{nth($founder, 1)} {
    background-image: image-url('founders/#{nth($founder, 2)}.png');
  }
}

.founders-list {
  list-style-type: none;
  margin: 20px 0 50px;
  padding: 0;
}

.founder {
  display: inline-block;
  width: 230px;
  height: 100px;
  border: solid 1px #e0e0e0;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999em;
  text-align-last: auto;
  margin: 10px 20px 10px 0;
}
