.homepage {
  padding-top: 60px;

  h1 {
    @include mq(phone) {
      font-size: 44px;;
    }
  }

  .section-icon {
    position: absolute;
    left: 0;
    @include mq(phone) { position: static; }
  }

  .homepage-section {
    padding-left: 50px;
    @include mq(phone) { padding: 0; }
  }

  .topic-list {
    table-layout: fixed;
    font-family: $font-simple-regular;
    font-size: 16px !important;

    tbody {
      tr {
        background: none !important;
      }
    }

    thead {
      tr {
        background: #e7e7e7;
      }
      th {
        padding: 5px 10px;
        font-size: 14px;
        color: $color--black;
      }
    }

    .category { width: 100px; }
    .default { width: 170px; }

    .title,
    .badge-wrapper.bullet,
    .badge-category {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      width: 100%;
      padding: 0 !important;
    }

    .badge-category-bg,
    .topic-statuses,
    .badge-notification.new-topic {
      display: none;
    }

    @include mq(phone) {
      &.active-discussions-list {
        .num.views,
        .num.age {
          display: none;
        }
      }

      &.recent-discussions-list {
        .num.posts,
        .num.views {
          display: none;
        }
      }
    }
  }

  .wrap { padding: 0 !important; }
}

.homepage-sidebar {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq(laptop) {
    border-top: 1px dotted $color--danger-light;
    padding-top: 42px;
  }

  div:last-child { border: 0 !important; }
}

.sidebar-signup,
.sidebar-project {
  flex: 1 0 100%;

  @include mq(desktop) { border-bottom: 1px dotted $color--danger-light; }
}

.sidebar-signup {
  @include mq(laptop) {
    border-top: 1px dotted $color--danger-light;
    padding-top: 42px;
  }

  @include mq(portable) { order: 1; }
}

.sidebar-project {
  @include mq(laptop) { max-width: 45%; }
  @include mq(desktop) { padding-bottom: 42px; }
}
