#main-outlet {
  padding: 125px 0 20px;
}

.landing {
  font-stretch: normal;
  background: #fff;
  min-height: calc(100vh - 135px);
  padding-top: 10px;

  img {
    max-width: 100%;
  }

  section {
    position: relative;
  }

  .container {
    box-sizing: border-box;
  }
}

.hero-section {
  height: auto;
  padding: 50px 0 0;
}

.sections-nav {
  width: 250px;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 50px 0 100px;

  li {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 20px;
  }

  i {
    width: 25px;
    margin-right: 10px;
    color: #000;
    text-align: center;
  }
}

p.section-description {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  color: #9e9e9e;
}

h1.section-title {
  margin: 10px 0 15px -15px;
  font-size: 40px;
  font-weight: 300;
  line-height: 42px;
  text-align: left;
  color: #fff;

  mark {
    display: inline-block;
    margin: 0 0 4px;
    padding: 0 15px;
    background: #fdb735;
    color: inherit;
    line-height: normal;
  }
}

h2.section-title {
  margin-bottom: 10px;
  padding: 0 0 0 10px;
  font-weight: 300;
  font-size: 18px;
  color: #fdb735;
}

// Top discussions

.topic-category {
  width: 170px;
  color: #b7662b;
  font-size: 18px;
  font-weight: 300;
  padding-right: 30px;
  text-align: right;
  position: absolute;
  top: 5px;
  left: 0;
}

.topic-actions,
.discussions {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.topic-preview {
  position: relative;
  padding-left: 195px;

  .row {
    border: solid 1px #ccc;
  }
}

.discussions {
  .stats-value, .relative-date {
    font-size: 20px;
    color: #000;
    display: inline-block;
    width: 35px;
    height: 23px;
    margin-right: 5px;
    text-align: right;
  }
}

.topic-actions,
.topic-meta-info {
  width: 105px;
  overflow: hidden;
  float: left;
}

.stats-label {
  height: 23px;
  width: 60px;
  font-size: 8px;
  line-height: 8px;
  color: #666;
  display: inline-block;
}

.topic-additional-info {
  &.row {
    border-top: 0;
    margin-bottom: 25px;
  }
}

.topic-last-updates {
  border-top: solid 1px #ccc;
}

.topic-tags {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 18px;
  padding: 0 8px;

  a:visited,
  a {
    font-size: 9px;
    color: #006699;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
  }
}

.topic-actions {
  width: 104px;
  border-right: solid 1px #ccc;

  li {
    float: left;
    border-right: solid 1px #ccc;

    &:last-child {
      border-right: 0;

      i {
        width: 18px;
      }
    }
  }

  i {
    width: 20px;
    height: 20px;
    color: #333;
    text-align: center;
    line-height: 20px;
    cursor: pointer;

    &.fa-thumbs-o-up {
      text-align: right;
    }

    &:hover {
      color: #0088cc;
    }
  }
}

a.topic-link {
  font-size: 22px;
  line-height: 21px;
  overflow: hidden;
  color: #000;
  display: block;
  padding: 2px 5px;
}

.topic-stats {
  height: 22px;
  padding-top: 2px;
  border-right: solid 1px #ccc;
}

.topic-quick-info {
  border-left: solid 1px #ccc;
  margin-left: 104px;
}

.section-nav {
  padding-bottom: 30px;
}

a.section-nav-item {
  padding: 10px;
  font-size: 24px;
  color: #000;
  display: inline-block;
  border-top: solid 4px #fff;

  &.active {
    border-top: solid 4px #000;
  }
}

.top-section {
  th {
    font-weight: 600;
  }

  .title {
    font-weight: 400;
    font-size: 18px;
  }
}

.section-anchor {
  position: absolute;
  left: 0;
  top: -30px;
}

#search-dropdown {
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;

    position: absolute;
    right: 0;
    top: -10px;
    z-index: 2;

    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 8px 10px 8px;
  }
}
