.login-view {
  h2 {
    font-weight: 300;
    margin-bottom: 15px;
  }

  p {
    margin: 20px 0;
    line-height: 1.8;
  }
}

.login-description {
  float: left;
  width: 420px;
}

.login-form {
  border-right: solid 1px #c0c0c0;
  margin-right: 50px;
  padding-right: 50px;

  .ember-text-field {
    width: 100%;
  }
}

#login-form {
  a {
    color: #006da3;
    font-size: 12px;
  }
}

.external-login {
  text-align: center;
  margin: 0 auto;
}

#login-buttons {
  margin: 0;
  float: left;

  button {
    font-family: "Simple Regular", monospace !important;
    width: auto;
    min-width: auto;
    margin: 0 10px 0 0;
    padding: 0 10px;
  }
}
