.newsletter {
  .main-section {

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 16px;
    }

    p, td {
      font-family: 'Roboto Light', sans-serif;
    }

    td {
      font-size: 13px;
    }

    @media (max-width: 1023px) {
      margin: 0 20px;
    }
  }

  .newsletter-preview {
    background: image-url("nwslttr_landing_preview.png") center center no-repeat;
    background-size: contain;
    min-height: 800px;
  }

  .newsletter-img {
    width:400px;
  }

  .center {
    text-align:center;
  }
}
