.newsletter {
  #main {
    @extend .bg-color--warning;
    height: auto;
  }

  .main-section {
    background: #f2f2f2;
  }

  h3 {
    font-size: 28px;
  }

  .newsletter-preview {
    background: image-url("nwslttr_landing_preview.png") center center no-repeat;
    background-size: contain;
    min-height: 800px;
  }

}