.profile-actions {
  list-style-type: none;
  margin: 0;
  padding: 30px 50px 30px 0;

  a {
    color: #333;
    padding: 5px 0;
    display: block;
    width: 120px;
    position: relative;
    margin-bottom: 10px;

    &.active {
      color: #000;
      font-weight: bold;

      &:after {
        content: '>';
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
  }
}

.profile-navigation {
  float: left;
  width: 25%;
  font-size: 16px;
}

.profile-overview {
  h2 {
    margin-top: 10px;
  }

  strong {
    margin: 15px 0 0;
    font-size: 11px;
    line-height: 11px;
    color: #9e9e9e;
    display: block;
  }

  .form-group {
    margin-bottom: 10px;
    margin-left: 160px;
  }


  img.avatar {
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 15px 20px 0 0;
  }
}
