.recipes-title {
  overflow: hidden;
  padding: 10px 0;
  margin: 0 0 5px;
  border-bottom: 1px solid #f0f0f0;

  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
  }

  .btn {
    padding-top: 8px;
    font-size: 16px;
  }
}

.recipe-filter-wrap {
  background: #fafafa;
  padding: 15px 20px 0;
  overflow: hidden;
  margin-top: 15px;

  .filter-title {
    margin: 0 0 10px;
    font-size: 15px;
  }

  .filter-title-bottom {
    margin-top: 15px;
  }
}

.filters {
  overflow: hidden;
  max-height: 120px;

  &.opened {
    max-height: auto;
  }
}

.filter-toggler {
  margin: 8px 0 0;

  &.opened {
    font-size: 0;

    &:before {
      content: attr(data-alt);
      font-size: 14px;
    }
  }
}

.filter-see-more {
  &.opened {
    font-size: 0;

    &:before {
      content: attr(data-alt);
      font-size: 14px;
    }
  }
}

.recipe-filters {
  display: none;
  padding: 0 0 15px;
}

.filter-actions {
  clear: both;
  width: 100%;
  padding: 20px 0 0;
}

.steps-list {
  margin: 30px 0 0 36px;

  li {
    width: 100%;
    margin-bottom: 5px;
  }

  a {
    display: block;
    position: relative;

    &:before {
      position: absolute;
      top: 1px;
      left: -36px;
    }
  }
}

.steps-content {
  display: none;
}

.submit-recipe {
  .textarea-wrapper {
    position: relative;
  }

  textarea {
    width: 100%;
    min-height: 150px;
  }

  input {
    width: 100%;
  }

  hr {
    clear: both;
  }

  .btn-primary {
    margin-top: 20px;
  }
}
