.create-account {

  padding: 30px 0;

  input {
    width: 400px;
    height: 28px !important;
  }

  form {
    margin-left: 15px;
  }

  h2 {
    font-weight: 300;
  }

  .container {
    padding: 0 !important;
  }

  .modal-inner-container {
    width: 435px;
  }

  .user-field {
    clear: none;

    label {
      width: 100%;
    }

    input[type=text] {
      margin-bottom: 9px;
      width: 400px;
    }

    .controls {
      margin: 0;
    }
  }

  .form-description {
    display: none;
  }

  .tip {
    display: block;
    margin: -20px 0 20px;

    &:empty {
      display: none;
    }
  }

  .form-actions {
    float: right;
    padding: 20px 15px 0;
  }
}

.user-additional-fields {
  .user-field {
    &:last-child {
      clear: both;
      margin-top: 10px;
    }
  }
}
