.create-account {
  padding-top: 30px;

  input {
    width: 300px;
  }

  form {
    margin-left: 50px;
  }

  h2 {
    font-weight: 300;
  }

  .user-field {
    clear: none;

    label {
      width: 100%;
    }

    input[type=text] {
      margin-bottom: 9px;
      width: 300px;
    }
  }

  .form-description {
    line-height: 1.5;
    margin: 10px 0 30px;
  }

  .bad {
    display: block;
    margin-bottom: 10px;

    &:empty {
      display: none;
    }
  }

  @media (max-width: 990px) {
    padding: 20px 20px 0;
  }
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 19px;
  box-sizing: border-box;
}

.user-additional-fields {
  .user-field {
    &:last-child {
      margin-top: 10px;
      clear: both;
    }
  }
}

.form-actions {
  padding: 30px 0 0 50px;
}
