.static-page {
  min-height: 200px;

  h1, h2, h3,
  h4, h5, h6 {
    line-height: normal;
    font-weight: 300;
  }

  h1, h2 {
    margin: 30px 0;
    font-size: 36px;
    color: #ad841f;
  }

  h3 {
    margin: 30px 0 10px;
    font-size: 20px;
  }

  p {
    margin: 15px 0;
    line-height: 30px;
    font-size: 14px;
    color: #333;
  }

  ul { line-height: 1.5; }
}

.static-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.list-item {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0 0 20px;
  border-bottom: solid 1px #e0e0e0;
  overflow: hidden;

  img {
    border: solid 1px #e0e0e0;
  }
}

.list-item-resources {
  float: right;
  width: 35%;
}

.list-item-description {
  width: 55%;
}

.important-note {
  background: #202528;
  color: #fff;
  display: inline-block;
  padding: 5px 3px;
}
