.cooked {
  hr {
    border-top: solid 6px #f7f5f6;
    background: #f7f5f6;
    margin: 45px 0;
    width: 100%;
    clear: both;
  }
}

h1.book-title {
  font-weight: 300;
  color: #ae841e;
  margin: 0 auto 35px;
}

.toc-view {
  h2 {
    font-weight: 300;
    margin: 0 auto 15px;

    a {
      color: #323232;
    }
  }

  p {
    color: #7d7d7d;
    margin: 0 auto 10px;
    font-size: 14px;
    line-height: 24px;
  }

  h1,
  h2,
  p {
    max-width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.sections {
    float: left;
    margin-right: 3%;
    color: #7d7d7d;
    padding: 0;
  }

  .related,
  .post-menu-area,
  .part {
    max-width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .related {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
  }

  h2 + p + .related {
    margin-top: -30px;
    margin-bottom: 15px;
  }

  .related + p + h2 {
    margin-top: -23px;
  }

  .post-menu-area {
    margin: 0 auto 50px;
  }

  .part {
    overflow: hidden;
    margin: 0 auto 50px;
    padding-bottom: 30px;
    border-bottom: solid 6px #f7f5f6;

    &:last-child {
      border: 0;
    }
  }
}

.started-topic { color: #ff808b; }

.incomplete-topic { color: orange; }

.toc-view {
  .sections {
    a {
      position: relative;
      padding-left: 70px;
      display: inline-block;
      margin-bottom: 10px;
    }

    .num {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 70px;
      color: #b7b7b7;
    }
  }
}
