.create-comment {
  position: absolute;
  left: 100%;
  top: 0;
  background: none;
  width: 60px;
  padding: 0;

  i {
    font-size: 20px;
    vertical-align: middle;
    color: #c7c7c7;
  }

  &:hover {
    background: none;
  }

  .label {
    color: #000;
    font-size: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 22px;
    position: absolute;
    left: 12px;
  }

  .add-icon {
    margin-left: 5px;
  }
}

.comments .topic-avatar {
  padding: 0 20px 0 0;
  border: 0;
  width: 20px;
}

.comments-title {
  font-weight: 300;
  font-size: 20px;
  line-height: normal;
  margin: 50px 0 5px;
}

.topic-avatar {
  padding: 0 20px 0 0;
  border: 0;
}
