.footer {
  background: #202528;
  height: 45px;
  color: #fff;
  font-size: 10px;
  line-height: 45px;
  overflow: hidden;

  a {
    color: #fff;
    margin-right: 15px;
  }
}

.copyright {
  float: right;
  margin: 0;
}
