.footer {
  background: #202528;
  height: 45px;
  color: #fff;
  font-size: 10px;
  line-height: 45px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  a {
    color: #fff;
    margin-right: 15px;
  }
}

.copyright {
  float: right;
  margin: 0;
}
