.d-header {
  box-shadow: none;
  height: 50px;
  padding: 0;

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    height: 34px;
    width: 34px;
  }

  #site-logo {
    height: 17px;
  }

  .title {
    height: 20px;
    margin-top: 10px;
  }

  .contents {
    margin: 5px 0;
  }

  .icons {
    .icon {
      padding: 0;
      border-radius: 50%;
    }
  }

  .categories {
    margin-right: 10px;
  }

  .social-connections {
    i {
      font-size: 23px;
    }
  }
}

.top-bar-navigation {
  background: #202528;
  height: 40px;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  font-weight: 300;
  line-height: 40px;
  z-index: 999;

  a {
    color: #fff;
    font-size: 14px;
  }
}

.top-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    position: relative;
    display: inline-block;
    margin: 0 45px 0 0;

    &.active {
      .fa {
        transform: rotate(180deg);
      }
    }

    &:last-child { margin: 0; }
  }

  a { display: block; }

  .fa {
    margin-left: 3px;
    color: #ff808b;
    font-size: 11px;
    transition: transform .1s linear;
  }
}

.top-nav-dropdown {
  padding: 0;
  border: 0;
  right: auto;
  left: 0;

  li:not(.category):not(.heading) {
    display: block;
    margin: 0;

    a {
      padding: 8px 16px;
      color: #464646;
    }

    &:hover {
      a:not(.badge-notification) {
        background-color: #464646;
        color: #fff;
      }
    }
  }
}

a.social-link {
  height: 32px;
  width: 32px;
  display: inline-block;
  border: solid 1px #464646;
  color: #464646;
  border-radius: 50%;
  margin-right: 10px;
  line-height: 35px;
  text-align: center;
  transition: background 300ms, color 300ms;

  &:hover {
    color: #fff;
    background: #464646;
  }
}

.social-connections {
  padding-left: 10px;
}
