span.bbcode-nav {
  display: block;
  margin: 30px 0;
  width: 100%;
  clear: both;
  overflow: hidden;
  background: #e5e5e5;
  box-sizing: border-box;
  padding: 20px;

  .fa {
    font-size: 18px;
    color: #808080;
    vertical-align: middle;
  }

  .bbcode-nav-prev a { margin-left: 5px; }

  .bbcode-nav-next {
    float: right;

    a {
      margin-right: 5px;
    }
  }
}

ol.category-breadcrumb {
  margin: 0 20px 0 0;

  li {
    margin-right: 5px;

    &.active a, a:hover {
      background: #222;
      color: #fff;
    }

    &:last-child { margin: 0; }

    a {
      display: block;
      padding: 4px 6px;
      color: #222;
      font-size: 1em;
      line-height: 20px;
      transition: background .15s;
    }
  }
}
