span.bbcode-nav {
  display: block;
  margin: 30px 0;
  width: 100%;
  clear: both;
  overflow: hidden;

  .fa {
    font-size: 18px;
    color: #808080;
    vertical-align: middle;
  }

  .bbcode-nav-prev a { margin-left: 5px; }

  .bbcode-nav-next {
    float: right;

    a {
      margin-right: 5px;
    }
  }
}
