<div>
  <h2>Open communities</h2>
  <p>
  ContinuousSecurity.org communities are funded and managed by ContinuousSecurity.org, but organized by site members in various regions. Events hosted by the community will center on secure software development, and are open to the general Meetup.com community. To join a ContinuousSecurity.org community, simply register an account at Meetup.com and join the ContinuousSecurity.org meetup group in your area.
  </p>
  <p>
  If you wish to start a community, use the <a href="/community_request" alt="Request a Community">Request a Community link</a> under the Local Meetups dropdown menu.
  </p>
</div>
