<label>{{{field.name}}}</label>
<div class='controls source-clear-test'>
  {{input value=value}}
  {{#if field.required}}<span class='required'>*</span>{{/if}}
  <p>{{{field.description}}}</p>
</div>
